<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="urlstring" connectionString="http://localhost:8800/api/" />
	</connectionStrings>
	<appSettings>
		<!--身份验证接口-->
		<add key="UserTokenInfo" value="http://localhost:8800/api/UserTokenInfo" />
		<!--录入模块接口-->
		<add key="EntryInfo" value="http://localhost:8800/api/sampleInfoEntry" />
		<add key="SampleInfoDelete" value="http://localhost:8800/api/SampleInfoDelete" />
		<add key="GetEntryInfo" value="http://localhost:8800/api/GetEntryInfo" />
		<!--审核模块接口-->
		<add key="SampleInfoCheckSelect" value="http://localhost:8800/api/SampleInfoCheckSelect" />
		<add key="SampleInfoCheck" value="http://localhost:8800/api/SampleInfoCheck" />
		<add key="SampleInfoCheckRe" value="http://localhost:8800/api/SampleInfoCheckRe" />
		<add key="SampleInfoCheckBc" value="http://localhost:8800/api/SampleInfoCheckBc" />
		<!--接收模块接口-->
		<add key="TestReceiveDT" value="http://localhost:8800/api/TestReceiveDT" />
		<add key="TestReceiveInfo" value="http://localhost:8800/api/TestReceiveInfo" />
		<add key="TestReceiveReturn" value="http://localhost:8800/api/TestReceiveReturn" />
		<!--检验信息查询接口-->
		<add key="TestSampleInfoSelect" value="http://localhost:8800/api/TestSampleInfoSelect" />
		<!--标本检验项目信息同步接口-->
		<add key="TestItemInfoRefresh" value="http://localhost:8800/api/TestItemInfoRefresh" />
		<!--检验结果信息查询接口-->
		<add key="TestSmpleResultSelect" value="http://localhost:8800/api/TestSmpleResultSelect" />
		<!--检验结果保存接口-->
		<add key="SetResultTest" value="http://localhost:8800/api/SetResultTest" />
		<add key="SetResultConsultation" value="http://localhost:8800/api/SetResultConsultation" />
		<add key="SetResultPathology" value="http://localhost:8800/api/SetResultPathology" />
		<add key="SetResultTCT" value="http://localhost:8800/api/SetResultTCT" />
		<add key="SetResultTCTScreen" value="http://localhost:8800/api/SetResultTCTScreen" />
		<add key="SetResultScreen" value="http://localhost:8800/api/SetResultScreen" />
		<add key="SetResultMicrobe" value="http://localhost:8800/api/SetResultMicrobe" />
		<!--检验信息查询接口-->
		<add key="GetTestMicrobeInfo" value="http://localhost:8800/api/GetTestMicrobeInfo" />
		<!--修改信息接口-->
		<add key="SampleInfoEdit" value="http://localhost:8800/api/SampleInfoEdit" />
		<!--信息查询接口-->
		<add key="FinanceInfoSelect" value="http://localhost:8800/api/FinanceInfoSelect" />
		<!--价格修改接口-->
		<add key="FinancePriceChange" value="http://localhost:8800/api/FinancePriceChange" />
		<!--账单审核接口-->
		<add key="FinanceCheckGetSerial" value="http://localhost:8800/api/FinanceCheckGetSerial" />
		<add key="FinanceCheckInfo" value="http://localhost:8800/api/FinanceCheckInfo" />
		<add key="FinanceCheckSelect" value="http://localhost:8800/api/FinanceCheckSelect" />
		<add key="FinanceCheckInfoRe" value="http://localhost:8800/api/FinanceCheckInfoRe" />

		<!--信息统计信息查询接口-->
		<add key="StatisticSampleInfo" value="http://localhost:8800/api/StatisticSampleInfo" />

		<!--委托数据查询-->
		<add key="OtherTestInfo" value="http://localhost:8800/api/OtherTestInfo" />
		<!--样本信息处理-->
		<add key="TestInfoHandle" value="http://localhost:8800/api/TestInfoHandle" />
		<!--样本增减项处理-->
		<add key="TestItemHandle" value="http://localhost:8800/api/TestItemHandle" />
		<!--客服记录处理-->
		<add key="ClientServeHandle" value="http://localhost:8800/api/ClientServeHandle" />
		<!--危急值记录处理-->
		<add key="CrisisHandle" value="http://localhost:8800/api/CrisisHandle" />
		<!--插入质控结果-->
		<add key="QCAddResult" value="http://localhost:8800/api/QCAddResult" />
		<add key="QCReultSelect" value="http://localhost:8800/api/QCReultSelect" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志路径-->
			<param name= "File" value= "Logs\"/>
			<!--是否是向文件中追加日志-->
			<param name= "AppendToFile" value= "true"/>
			<!--log保留天数-->
			<param name= "MaxSizeRollBackups" value= "10"/>
			<!--日志文件名是否是固定不变的-->
			<param name= "StaticLogFileName" value= "false"/>
			<!--日志文件名格式为:2008-08-31.log-->
			<param name= "DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<!--日志根据日期滚动-->
			<param name= "RollingStyle" value= "Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d  %-5p %c - %m%n " />
			</layout>
		</appender>

		<!-- 控制台前台显示日志 -->
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d  %-5p %c - %m%n" />
			</layout>
			<!--过滤器   只记录层级从LevelMin到LevelMax的日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ALL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<!--<filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->
		</appender>

		<root>
			<!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
			<!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
			<!--如果没有定义LEVEL的值，则缺省为DEBUG-->
			<level value="all" />
			<appender-ref ref="ColoredConsoleAppender"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>