<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<add name="urlstring" connectionString="http://localhost:9900/api"/>
		<add name="Version" connectionString="1.0.0.1"/>
	</connectionStrings>
	<appSettings>
		<!--身份验证接口-->
		<add key="UserTokenInfo" value="http://localhost:9900/api/UserTokenInfo" />
		<!--录入模块接口-->
		<add key="EntryInfo" value="http://localhost:9900/api/sampleInfoEntry" />
		<add key="SampleInfoDelete" value="http://localhost:9900/api/SampleInfoDelete" />
		<add key="GetEntryInfo" value="http://localhost:9900/api/GetEntryInfo" />
		<!--审核模块接口-->
		<add key="SampleInfoCheckSelect" value="http://localhost:9900/api/SampleInfoCheckSelect" />
		<add key="SampleInfoCheck" value="http://localhost:9900/api/SampleInfoCheck" />
		<add key="SampleInfoCheckRe" value="http://localhost:9900/api/SampleInfoCheckRe" />
		<add key="SampleInfoCheckBc" value="http://localhost:9900/api/SampleInfoCheckBc" />
		<!--接受模块接口-->
		<add key="TestReceiveDT" value="http://localhost:9900/api/TestReceiveDT" />
		<add key="TestReceiveInfo" value="http://localhost:9900/api/TestReceiveInfo" />
		<!--检验结果接口-->
		<add key="SetResultTest" value="http://localhost:9900/api/SetResultTest" />
		<add key="SetResultConsultation" value="http://localhost:9900/api/SetResultConsultation" />
		<add key="SetResultPathology" value="http://localhost:9900/api/SetResultPathology" />
		<add key="SetResultTCT" value="http://localhost:9900/api/SetResultTCT" />
		<add key="SetResultTCTScreen" value="http://localhost:9900/api/SetResultTCTScreen" />
		<add key="SetResultScreen" value="http://localhost:9900/api/SetResultScreen" />
		<!--修改信息接口-->
		<add key="SampleInfoEdit" value="http://localhost:9900/api/SampleInfoEdit" />

		<!--信息查询接口-->
		<add key="FinanceInfoSelect" value="http://localhost:9900/api/FinanceInfoSelect" />
		<!--价格修改接口-->
		<add key="FinancePriceChange" value="http://localhost:9900/api/FinancePriceChange" />

		<!--账单审核接口-->
		<add key="FinanceCheckGetSerial" value="http://localhost:9900/api/FinanceCheckGetSerial" />
		<add key="FinanceCheckInfo" value="http://localhost:9900/api/FinanceCheckInfo" />
		<add key="FinanceCheckSelect" value="http://localhost:9900/api/FinanceCheckSelect" />
		<add key="FinanceCheckInfoRe" value="http://localhost:9900/api/FinanceCheckInfoRe" />





	</appSettings>
</configuration>
