<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="urlstring" connectionString="http://localhost:9900/api" />
	</connectionStrings>
	<appSettings>
		<!--身份验证接口-->
		<add key="UserTokenInfo" value="http://localhost:9900/api/UserTokenInfo" />
		<!--录入模块接口-->
		<add key="EntryInfo" value="http://localhost:9900/api/sampleInfoEntry" />
		<add key="SampleInfoDelete" value="http://localhost:9900/api/SampleInfoDelete" />
		<add key="GetEntryInfo" value="http://localhost:9900/api/GetEntryInfo" />
		<!--审核模块接口-->
		<add key="SampleInfoCheckSelect" value="http://localhost:9900/api/SampleInfoCheckSelect" />
		<add key="SampleInfoCheck" value="http://localhost:9900/api/SampleInfoCheck" />
		<!--接受模块接口-->
		<add key="TestReceiveDT" value="http://localhost:9900/api/TestReceiveDT" />
		<add key="TestReceiveInfo" value="http://localhost:9900/api/TestReceiveInfo" />
		<!--检验结果接口-->
		<add key="SetResultTest" value="http://localhost:9900/api/SetResultTest" />
		<add key="SetResultConsultation" value="http://localhost:9900/api/SetResultConsultation" />
		<add key="SetResultPathology" value="http://localhost:9900/api/SetResultPathology" />
		<add key="SetResultTCT" value="http://localhost:9900/api/SetResultTCT" />
		<add key="SetResultTCTScreen" value="http://localhost:9900/api/SetResultTCTScreen" />
		<add key="SetResultScreen" value="http://localhost:9900/api/SetResultScreen" />
		<!--修改信息接口-->
		<add key="SampleInfoEdit" value="http://localhost:9900/api/SampleInfoEdit" />



	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
